HomeGenie_VS10/HomeGenieManager/Service References/HomeGenie.WCF/HomeGenie.WCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HomeGenie.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HomeGenie.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogEntry" nillable="true" type="tns:LogEntry" />
</xs:schema>