HomeGenie_VS10/HomeGenieManager/Service References/HomeGenie.WCF/HomeGenie.WCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://HomeGenie.WCF" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HomeGenie.WCF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://HomeGenie.WCF/Imports">
      <xsd:import namespace="http://HomeGenie.WCF" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HomeGenie.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManager_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IManager_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IManager_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_GetHttpServicePort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHttpServicePort" />
  </wsdl:message>
  <wsdl:message name="IManager_GetHttpServicePort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHttpServicePortResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_RaiseOnEventLogged_InputMessage">
    <wsdl:part name="parameters" element="tns:RaiseOnEventLogged" />
  </wsdl:message>
  <wsdl:message name="IManager_RaiseOnEventLogged_OutputMessage">
    <wsdl:part name="parameters" element="tns:RaiseOnEventLoggedResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_OnEventLogged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnEventLogged" />
  </wsdl:message>
  <wsdl:portType name="IManager">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://HomeGenie.WCF/IManager/Subscribe" message="tns:IManager_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://HomeGenie.WCF/IManager/SubscribeResponse" message="tns:IManager_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://HomeGenie.WCF/IManager/Unsubscribe" message="tns:IManager_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://HomeGenie.WCF/IManager/UnsubscribeResponse" message="tns:IManager_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHttpServicePort">
      <wsdl:input wsaw:Action="http://HomeGenie.WCF/IManager/GetHttpServicePort" message="tns:IManager_GetHttpServicePort_InputMessage" />
      <wsdl:output wsaw:Action="http://HomeGenie.WCF/IManager/GetHttpServicePortResponse" message="tns:IManager_GetHttpServicePort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RaiseOnEventLogged">
      <wsdl:input wsaw:Action="http://HomeGenie.WCF/IManager/RaiseOnEventLogged" message="tns:IManager_RaiseOnEventLogged_InputMessage" />
      <wsdl:output wsaw:Action="http://HomeGenie.WCF/IManager/RaiseOnEventLoggedResponse" message="tns:IManager_RaiseOnEventLogged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnEventLogged">
      <wsdl:output wsaw:Action="http://HomeGenie.WCF/IManager/OnEventLogged" message="tns:IManager_OnEventLogged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>